<% if notice %><div class="alert alert-info" id="notice"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning" id="alert"><%= alert %></div><% end %>

<p>Hello <%= @resource.email %>!</p>

<p>We are contacting you to notify that your password has been changed. If you did not initiate this, please write back to us.</p>
