<% if notice %><div class="alert alert-info" id="notice"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning" id="alert"><%= alert %></div><% end %>

<p>Hello <%= @resource.email %>!</p>

<p>We have temporarily blocked your account due to an excessive number of unsuccessful sign in attempts.</p>

<p>Please click the below link to unblock your account:</p>

<p><%= link_to 'Unblock my account', unlock_url(@resource, unlock_token: @token) %></p>
